body {
    height: 100vh;
    background: url('santa.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

body * {
    z-index: 1;
}

@keyframes flashing {
    0% {
        color: white;
    }
    50% {
        color: red;
    }
    100% {
        color: white;
    }
}

.title {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    animation: flashing 3s infinite;
}

.time {
    display: flex;
    font-size: 40px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.times {
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.gif {
    display: none;
    /* Initially hide the gif */
    align-items: center;
    justify-content: center;
}

.gif.flex {
    display: flex;
    /* Show the gif when the 'flex' class is added */
}

.image {
    margin-top: 50px;
    width: 700px;
    height: 220px;
    border-radius: 15px;
    border-radius: 22px;
    background: #cc4928;
    box-shadow: 9px 9px 18px #89311b, -9px -9px 18px #ff6135;
}


@keyframes flashing {
    0%,
    100% {
        color: #e7092e
    }
    50% {
        color: #f3880e;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 47px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .time {
        font-size: 28px;
    }
    .image {
        margin-top: 80px;
        width: 247px;
        height: 131px;
    }
    body {
        padding: 10px;
    }
}

@media only screen and (max-width: 415px) {
    .title {
        font-size: 25px;
        position: absolute;
        top: 40px;
        left: 30px;
        align-items: start;
    }
    .time {
        font-size: 22px;
    }
    .image {
        margin-top: 50px;
        width: 247px;
        height: 131px;
    }
    body {
        padding: 10px;
    }
}
